#detailViewScroller {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

#detailViewScroller div {
	font-family: Georgia;
	
	text-decoration: none;
	/*text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	-webkit-user-select: none;*/
	-webkit-tap-highlight-color: transparent;
	text-rendering: optimizeLegibility;
}

#detailedTitle {
	color: #222;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	text-align: center;
}

#detailedAuthor {
	color: #262626;
	font-height: 15px;
	line-height: 19px;
	padding-left: 2px;
}

#detailVC {
	color: #262626;
	font-height: 14px;
	line-height: 18px;
	width: 100%;
	text-align: center;
}

#detailedVotes img {
	line-height: 18px;
	max-height: 14px;
}

#spacerVC {
	color: rgb(242, 242, 242);
}

#detailedText {
	color: #262626;
	font-height: 15px;
	line-height: 19px;
	padding-left: 2px;
}

#detailedText p {
	margin-bottom: 19px;
}

#detailedComments img {
	line-height: 18px;
	max-height: 14px;
}